
body{
    background-color:  White;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid slategrey;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
    font-size: 25px;
}

    table th {
        font-size: 38px;
    }

.modal {
    display: none;
    /*position: fixed;*/
    position: absolute;
    z-index: 1;
    left: 0;
    top: 2px;
    width: 88%;
    height: 25px;
/*    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);*/
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    background-color: #add8e6;
    width: 100%;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

 
.modal-body {
    padding: 2px 2px;
}

  
@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
